body {
    font-family: "Open Sans", "Arial", sans-serif;
}

.container {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.top-link {
    margin-right: auto;
}

.logo-img {
    display: block;
    width: 60px;
    height: 60px;
    padding-left: 0;
    margin-left: auto;
}

.navbar-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-item {
    position: relative;
    z-index: 1;
    margin-right: 35px;
    padding-bottom: 10px;
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: #999;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
}

.navbar-link::after {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: transparent;
    transition: background-color 0.3s ease;
    
}

.navbar-link:hover::after {
    background-color: #999;
}

.search {
    width: 162px;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #666;
}

.search::placeholder {
    color: #777;
    font-size: 13px;
    font-weight: 700;
}

.search:focus {
    outline: none;
}

.youtube {
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    font-size: 12px;    
    background-color: rgb(255, 23, 23);
    opacity: 0.6;
    transition: 0.3s;
}

.youtube:hover {
    opacity: 1;
}

.left-side__header {
    font-size: 30px;
    font-weight: bold;
}

.left-side__text {
    font-size: 13px;
    max-width: 300px;
    border-left: 3px solid #777;
    padding-left: 40px;
    color: #999;
    margin-bottom: 50px;
}

.section {
    padding: 170px 0;
    background-image: url("../img/watches.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 700px) center;
}


.main-line {
    display: block;
    margin-top: 0;
}

.wrapper {
    display: flex;
}

.first-article {
    max-width: 300px;
    padding-right: 50px;
}

.middle-article {
    max-width: 300px;
    padding-right: 50px;
}

.last-article {
    max-width: 300px;
    padding-right: 0;
}

.middle-header {
    font-weight: 700;
    font-size: 14px;
    padding-top: 30px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.middle-text {
    font-size: 13px;
    margin-bottom: 0;
}

.middle-text-link {
    font-size: 13px;
    padding-bottom: 10px;
}

.middle-dot {
    position: relative;
    z-index: 1;
    font-size: 32px;
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
}

.middle-dot::before {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 70%;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #999;
    border-radius: 50%;
    content: "";
}

.middle-dot::after {
    position: absolute;
    z-index: 1;
    left: 85%;
    top: 70%;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #999;
    border-radius: 50%;
    content: "";
}

.learn-more {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;  
    color: rgb(255, 0, 0);
    display: flex;
}

.learn-more::before {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: rgb(255, 0, 0);
    transition: width 0.3s ease;
    margin-right: 10px;
    margin-top: 6px;
}

.learn-more:hover::before {
    width: 45px;
    background-color: rgb(255, 0, 0);
}

.middle-container {
    display: flex;
    justify-content: space-between;
}

.advertisement {
    max-width: 300px;
}

.ad-img {
    width: 420px;
    height: 550px;
    padding-bottom: 50px;
    padding-top: 90px;
}

.ad-header {
    padding-top: 160px;
    font-size: 35px;
    color: rgb(56, 56, 56);
    padding-bottom: 30px;
}

.ad-text {
    font-size: 13px;
    max-width: 400px;
    border-left: 3px solid #777;
    padding-left: 40px;
    color: #999;
    margin-bottom: 50px;
}

.buy-now {
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    background-color: rgb(255, 10, 10);
    opacity: 0.6;
    transition: 0.3s;
}

.buy-now:hover {
    opacity: 1;
}


.last-section {
    background-image: url("../img/runners.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    display: flex;
}

.last-div {
    max-width: 500px;
    padding-left: 590px;    
    padding-top: 160px;
}

.last-header {
    font-size: 40px;
    color: #fff;
}

.last-ad-text {
    font-size: 13px;
    max-width: 400px;
    border-left: 3px solid #777;
    padding-left: 40px;
    color: #fff;
    margin-bottom: 50px;
}

.explore {
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    background-color: rgb(253, 12, 12);
    opacity: 0.9;
    transition: 0.3s;
}

.explore:hover {
    opacity: 1;
}